<div class="col-10 offset-1 about">
  <div class="col-10 offset-1">
    <h1>About Splurty</h1>

    <p>
      Splurty was built by <a target="_blank" href="https://sandradangelo.netlify.com/">Sandra</a>. A web developer who is on a mission to learn the technical skills needed to launch her own MVPs and turn ideas into reality.
    </p>
    <br />
    <p>
      If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
    </p>

    <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'sandra.jpg', class: 'img-fluid' %>
      </div>

      <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Sandra D&#39;Angelo</h2>
        <br />
        <p>
          Sandra D&#39;Angelo is a web developer and experienced product manager. 
        </p>
      </div>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />